<!--<div class="row">-->
<!--  <div class="col-xs-12 col-sm-4">-->
<!--    <div class="list-group">-->
<!--      <a-->
<!--        href="#"-->
<!--        class="list-group-item"-->
<!--        *ngFor="let server of servers">-->
<!--        {{ server.name }}-->
<!--      </a>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="col-xs-12 col-sm-4">-->
<!--&lt;!&ndash;    <app-edit-server></app-edit-server>&ndash;&gt;-->
<!--    <hr>-->
<!--    <app-server></app-server>-->
<!--  </div>-->
<!--</div>-->

<div>
  <h1>ssss</h1>
</div>
